
<div
  class="slide-enter flex w-full justify-center md:col-span-6 print:hidden text-center pb-12"
>
  <div class="flex flex-col items-center text-xs opacity-50 space-y-3">
    <p class="text-center font-mono">
      Built <span class="font-black"></span> using
      <a
        class="font-black underline"
        href="https://github.com/MiraHikari/portfolio"
        target="_blank"
        rel="noopener noreferrer"
      >
        Astro Portfolio
      </a>
    </p>

    <p class="text-center">
      © 2026 Cael Yasutake
    </p>
  </div>
</div>
