---
import { Icon } from "astro-icon/components";
---

<div class="inline-flex items-center print:hidden">
  <button
    id="themeSwitch"
    class="group/theme flex cursor-pointer items-center gap-2 rounded-md bg-transparent"
    aria-label="Toggle dark mode"
    type="button"
  >
    <span class="flex items-center gap-1 text-sm font-medium leading-6 text-skin-base transition-transform ease-in-out group-hover/theme:rotate-45">
      <Icon name="ri:moon-fill" class="hidden dark:block" width={20} height={20} />
      <Icon name="ri:sun-fill" class="dark:hidden" width={20} height={20} />
    </span>
  </button>
</div>

<style>
  :global(.dark) {
    color-scheme: dark;
  }
</style>

<script is:inline type="module" src="/scripts/theme.js"></script>

<style is:global>
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }
  ::view-transition-old(root) {
    z-index: 1;
  }
  ::view-transition-new(root) {
    z-index: 9999;
  }
  .dark::view-transition-old(root) {
    z-index: 9999;
  }
  .dark::view-transition-new(root) {
    z-index: 1;
  }
</style>
